<div class="myBookHeader">
    <h2>Available Books</h2>

    <button mat-raised-button color="warn" (click)="isShowing = !isShowing">
        <ng-container *ngIf="isShowing" >Hide Books</ng-container> 
        <ng-container *ngIf="!isShowing" >Show Books</ng-container>
        
    </button>

</div>


<div class="myBookList">

    <ul *ngIf="isShowing">

        <ng-container *ngFor ="let book of book; let i = index">
           <app-book-item (bookEmitter)="addToReadingList($event)" [book] = "book"></app-book-item>
        </ng-container>
    </ul>
    
</div>

