ul {
    display:  flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin: 10px 10px 10px 10px;
    flex-direction: column;
    flex-flow: columns;
}

.bookList {
    list-style: none;
    text-overflow: ellipsis;
    width: 200px;
    text-align: center;
    cursor: pointer;
}