ul {
    display:  flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin: 10px 10px 10px 10px;
    flex-direction: column;
    flex-flow: columns;
}

.myBlogHeader{
    margin: 10px auto 10px auto;
    text-align: center;;
}

h2 {
    color: #673ab7; font-family: "Great Vibes", cursive; font-size: 105px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; 
}