ul {
    display:  flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    margin: 10px 10px 10px 10px;
    flex-direction: column;
    flex-flow: columns;
}

.bookList {
    list-style: none;
    text-overflow: ellipsis;
    width: 225px;
    cursor: pointer;
}

.bookButtonGroup {
    width: 200px;
    margin: 10px auto 10px auto;
  }
  
  .bookButtonGroup .mat-button-base {
    margin: 0 8px 0 0;
  }