<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/app-user-profile" routerLinkActive="active" ariaCurrentWhenActive="page" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>account_box</mat-icon>
    </button>
    <span routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Profile</span>
    <span class="example-spacer"></span>
   
    <div class="example-button-row">
      <button mat-raised-button color="warn" routerLink="/app-book-list" routerLinkActive="active" ariaCurrentWhenActive="page">Books</button>
      <button mat-raised-button color="warn" routerLink="/app-blog-list" routerLinkActive="active" ariaCurrentWhenActive="page">Blogs</button>
    </div>
  </mat-toolbar>
