
.example-container{
    text-align: center;
    margin: 100px auto 10px auto;
    max-width: 500px;
    padding: 10px;
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}

.title {
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 44px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    padding: 20px 30px; 
    text-align: center; 
    text-transform: uppercase;
}